.super_area_menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* width: 99.5vw; */
  width: 40.5vw;
  /* margin-left: 30vw; */
  margin-bottom: 1vh;

}
.content_menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1vw;
  width:96vw;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(247, 95, 247, 0.534) 0%, rgba(97, 5, 97, 0.514) 70%);
  box-shadow: 0 5px 15px -5px #000000be;

}
.item_menu{
  margin-left: 4vw;
  color:#fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20%;
  padding: 1vh 1vw;
}

  .item_menu:hover{
  background: #db08bfb0;
  box-shadow: 0 5px 15px -5px #000000be;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  text-shadow:  -1px -1px 5px #fffefebe;
  transition: 0.4s; 

}


.hover_temes{
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 2vh;
  min-width: 400px;
  background-image: linear-gradient(to right, rgba(247, 95, 247, 0.534) 0%, rgba(97, 5, 97, 0.514) 70%);
  box-shadow: 0 5px 15px -5px #000000ce;
  /* position: absolute; */

}

.content_open_temes{
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
  height: 25vh;
  animation: init_open_teme 1s linear;

}

@keyframes init_open_teme{
  from{
    opacity: 0;
    height: 0vh;
  }to{
    opacity: 1;
    height: 25vh;
  }
}
.open_teme{
  padding: 0.8vh 0.8vw;
  border-radius: 5px;
  transform: scale(0.9);
}
.open_teme:hover{

  transform: scale(1);
  background: #db08bfb0;
  box-shadow: 0 5px 15px -5px #000000be;
  color: #ffffff;
  overflow: hidden;
  text-shadow:  -1px -1px 5px #fffefebe;
  transition: 0.4s; 

}
