/*  aqui vem o css para todos os page temes  */



.page_temes_content{
  display: flex;
  flex-direction: column;
}

.page_temes_content span, 
.page_temes_content li,
.page_temes_content h1, 
.page_temes_content h2,
.page_temes_content h3,
.page_temes_content p
{
  animation: init_text 0.4s linear;
}


.item_list_box_item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  cursor: pointer;
  width: 15vw;
  min-width: 200px;

  margin: 1vh 0vw;
  padding: 2vh 1vw;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.item_list_box_item, .item_list_box_item span{ font-size: 3.3vh;  text-transform: initial;}

.item_list_box_item:hover{
  box-shadow: 0 5px 15px -5px #000000e7;
  transform: scale(1.05);
}

.item_list_box_item .list_box_content{
  margin: 0vw 0.8vw;
}





.audio_invisible{
  position: absolute;
  top: -100vw;
}
.play_audio{
  margin: 0vw 0.3vw;
  width: 3.5vh;
  height: 3.5vh;
}


.info_item{
  color:rgb(20, 90, 221);
  font-weight: 900;
  margin: 0vw 0.3vw;

}

.info_box{
  display: flex;
  padding: 1vh 1vw;
  margin-top:2vh;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  font-size: 2.2vh;
  
  color: #fff;
  box-shadow: 0 5px 15px -5px #000000e7;
  animation: init_info_box 2s linear,  background_info_box 30s linear infinite;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.726);;
}

.info_box:hover{transform: scale(1.05);}

@keyframes init_info_box{
  0%{
    opacity: 0;
    transform: scale(0);
    background-image:#fff;
    box-shadow: none;
    text-shadow:none;
    border-radius: 50px;
    
  }50%{
    opacity: 1;
    transform: scale(1); 
    animation: background_info_box 30s linear infinite;
    text-shadow: -1px  -1px 20px rgba(255, 255, 255, 0.726);
    box-shadow: none;
    text-shadow:none;

  }75%{
    box-shadow: 0 5px 15px -5px #000000e7;
    text-shadow: -0.2px  -0.2px 2px rgba(255, 255, 255, 0.726);
    border-radius: 5px;
  }
}


@keyframes background_info_box{
  0% {background: rgba(88, 24, 88, 0.719);}
  10% {background: rgba(90, 30, 90, 0.623);} 
  20%  {background: rgba(141, 35, 141, 0.534);}
  35%  {background: rgba(70, 25, 70, 0.534);}
  50% {background: rgba(74, 4, 88, 0.651);}
  60%   {background: rgba(82, 9, 82, 0.651);}
  70%  {background: rgba(141, 35, 141, 0.534);}
  90% {background: rgba(90, 30, 90, 0.623);}
  100%  {background:rgba(88, 24, 88, 0.719);} 
}

.play_audio:hover, .info_item:hover{
  transform: rotate(10deg) scale(1.5);
}


/*  components  */
.seta_item_list, .init_for_p{
  font-weight: 900;
  color: #88668a;
  font-size: 2.4vh;
  margin:0vh 1vw;
}

.text_note{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: max-content;
  max-width: 60vw;
  padding: 1.5vh 2vw;
  border-radius: 15px;
  margin: 0.5vh -1vw;
  
}
.text_note:hover{ transform: scale(1.05);
  box-shadow: 0 5px 15px -5px #000000e7;

}

.title_note{
  display: flex;
  flex-direction: row;
  color: #88668a;
  font-size: 2.5vh;
}
.text_note p{
  text-align: left;
  font-size: 2vh;
  line-height: 3.2vh;
}




@keyframes init_text{
  from{
    opacity: 0;
    transform: scale(0);  
  }to{
    opacity: 1;
    transform: scale(1);    
  }
}
