#weekday_content{
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


.box_teme_weekday{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;



  margin: 3.3vh 1vw;
  max-width: 50vw;

}
.box_teme_weekday ul{
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  
  transform: scale(1.1);
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .box_teme_weekday ul li{
    display: flex;
    min-width: 70%;
  
  }
}

.decoration_day{
  /* margin: 0vw 0.1vw;  */
  width: 3.5vh;
  height: 3.5vh;
  margin:0vw 0.2vw;
  transform: scale(1.5);
  border-radius: 1px;
}
.decoration_day:hover{
  transform: scale(1.7);
  border-radius: 6px;

}
