*{
  transition: 0.5s linear;
  padding: 0%;
  margin: 0%;

  
}

@font-face{
  font-family: "fira code";
  src: url('./font/ttf/FiraCode-Regular.ttf')
}
body {
  margin: 0;
  font-family: "fira code", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: url(./imagens/cur/logo_opa.cur);
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1,h2,h3,h2 i, h3 i{
  font-size: 3vh;
  color: #88668a;
}
h4{
  font-size: 2.3vh;
  color: #835d85;
}
li{
  list-style: none;
}



p,li,a,span{
  font-size: 2.2vh;
  /* text-align: left; */
  text-decoration: none;
  /* text-indent: 0.4vw; */
  /* letter-spacing: 0.0002vw; */
  /* text-align: justify; */
}






i{
  color: rgb(32, 32, 32);
}

b{
  color: rgb(103, 12, 121);
}

hr{
  box-shadow:  -1px -1px 8px #fff;
  border-radius: 100%;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(199, 56, 199);
}

.scroll{
  max-width: 100vw;
   overflow-x: scroll;
   overflow-y: scroll;
   margin: 0%;
   padding: 1vw;
}